{% extends 'admin/dashboard.html.twig' %}

{% block title %}New Audio{% endblock %}

{% block in_body %}
    <h1>Create new Audio</h1>

    {{ include('admin/audio/_form.html.twig') }}

    <a href="{{ path('app_audio_index') }}">back to list</a>
{% endblock %}
